* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 9px;
    line-height: 1.25;
    color: #212121;
}

body {
    margin: 0;
    padding: 0;
    /* width: 120rem; */
}

.body--webpdf .template__fixed-element,
.body--pdf .template__fixed-element {
    display: none;
}

.body--preview {
    /* height: 188.71429rem; */
    overflow: hidden;
}

.body--preview .preview-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
    /* height: 176.71429rem; */
    /* overflow: hidden; */
}

.body--share {
    height: 100%;
    /* overflow: hidden; */
}

.body--share .preview-box {
    padding-top: 2rem;
    /* padding-bottom: 6rem; */
}

.body--markup {
    background: #e4eaf0;
    margin: 0 auto;
    width: calc(120rem + 70px);
    padding: 35px;
}

.body--markup .preview-box {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

body {
    font-family: "Montserrat", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #212121;
}

.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    background-color: #f4f4f4;
}

.body--webpdf .side-bar {
    position: fixed;
}

.container {
    position: relative;
    display: block;
    /* max-width: 120rem; */
    width: 100%;
    font-size: 1.7rem;
}

.container__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title {
    width: 100%;
    text-align: center;
}

.main__text {
    line-height: 1.5;
}

.main__text strong {
    font-weight: 500;
}

.title__block {
    display: inline-block;
    margin: 0 auto 4rem auto;
    width: 64rem;
    height: 14rem;
    border: 2px solid #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
}

.title__name {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.title__name span {
    margin: 0 0.3rem;
}

.title__position {
    text-transform: uppercase;
    font-size: 2rem;
}

.section__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid #212121;
    margin-bottom: 2rem;
    page-break-inside: avoid;
    page-break-after: avoid;
}

.section__title span {
    margin: 0 0.2rem;
}

.sidebar {
    width: 30%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 0 5rem 0 9rem;
    background-color: #f4f4f4;
}

.sidebar__text {
    line-height: 1.5;
}

.sidebar__section {
    margin-bottom: 4rem;
}

.sidebar__subsection {
    margin-bottom: 2.5rem;
}

.sidebar__subsection-text {
    font-size: 1.5rem;
}

.sidebar__subtitle {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.sidebar__subtitle span {
    margin: 0 0.1rem;
}

.sidebar__contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
}

.sidebar__contact {
    width: 7.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 7.5rem;
    flex: 0 0 7.5rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.sidebar__contact-value {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    line-height: 1.4;
}

.sidebar__contact-value.is-underlined {
    text-decoration: underline;
}

.sidebar__contact-value--email {
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
}

.sidebar__socials {
    display: block;
}

.sidebar__socials-item {
    margin-bottom: 1.6rem;
}

.sidebar__socials-label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.sidebar__socials-link {
    font-size: 1.6rem;
    text-decoration: underline;
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.social__link {
    font-size: 0.8em;
    word-break: break-all;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.sidebar__skill {
    margin-bottom: 2.2rem;
}

.sidebar__skill-progress {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar__circle {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    border: 1px solid #212121;
    background-color: #212121;
    margin-right: 0.9rem;
}

.sidebar__circle.is-empty {
    background-color: transparent;
}

.main {
    padding: 0 9rem 0 4rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main__section {
    margin-bottom: 4rem;
}

.main__content {
    width: 100%;
}

.main__content-item {
    margin-bottom: 3.2rem;
    display: block;
    width: 100%;
}

.main__content-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.main__content-title.is-2column:after {
    content: "";
    display: table;
    clear: both;
}

.main__content-title.is-2column .main__content-title-left {
    float: left;
}

.main__content-title.is-2column .main__content-title-right {
    float: right;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.4rem;
    width: 16rem;
}

.main__content-subtitle {
    margin-bottom: 1.6rem;
    font-size: 1.7rem;
    max-width: 100%;
}

.main__content-caption {
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    max-width: 100%;
}

.main__content-caption ul,
.main__content-caption ol {
    margin: 0.8rem 0;
    list-style-position: outside;
    padding-left: 3.2rem;
}

.main__content-caption li+li {
    margin-top: 0.3rem;
}

.prop__title {
    font-weight: 700;
}

.code__wrap {
    display: flex;
}

.code__brack {
    margin-left: -10px;
    color: #b74949;
}

.code__key {
    color: #017301;
}

.code__data {
    color: #0a0a65;
}


/* .page-break {
    page-break-before: always;
    min-height: 1px;
} */